<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>非常漂亮的一款jQuery横向带箭头左右滚动效果_演示页_JS代码站</title>
<link type="text/css" href="../static/css/zzsc.css" rel="stylesheet" />
<script type="text/javascript" src="../static/jquery-3.3.1/jquery-3.3.1.js"></script>

<script type="text/javascript" src="../static/js/zzsc.js"></script>
</head>

<body>
<link href="/templets/skins/style/yulan.css" rel="stylesheet">
<div id="header">
  <div id="top">
    <div id="warp">
      <div class="topleft fl"> 
          <a href="/">网站首页</a> <a href='/list-58.html' title='JS代码'>JS代码</a> <a href='/list-5.html' title='Jquery插件'>Jquery插件</a> <a href='/list-56.html' title='前端设计'>前端设计</a> <a href='/list-100.html' title='素材下载'>素材下载</a> <a href='/list-20.html' title='网页模板'>网页模板</a> <a href='/list-4.html' title='网页特效'>网页特效</a> <a href='/list-59.html' title='CMS教程'>CMS教程</a> <a href='/list-81.html' title='CMS插件'>CMS插件</a> <a href='/list-57.html' title='网络编程'>网络编程</a> <a href='/list-60.html' title='电脑教程'>电脑教程</a> <a href='/list-55.html' title='站长技术'>站长技术</a> <a href='/list-54.html' title='IT互联网'>IT互联网</a>
      </div>
      <div class="topright fr"><a href="/">返回首页</a></div>
    </div>
  </div>
</div>
<div class="box" style="margin-top:50px;">
	<div class="picbox">
		<ul class="piclist mainlist">
			<li><a href="#" target="_blank"><img src="../static/images/1.jpg" width="220" height="105" /></a></li>
			<li><a href="#" target="_blank"><img src="../static/images/2.jpg" /></a></li>
			<li><a href="#" target="_blank"><img src="../static/images/3.jpg" /></a></li>
			<li><a href="#" target="_blank"><img src="../static/images/4.jpg" /></a></li>
			<li><a href="#" target="_blank"><img src="../static/images/1.jpg" /></a></li>
            <li><a href="#" target="_blank"><img src="../static/images/2.jpg" /></a></li>
			<li><a href="#" target="_blank"><img src="../static/images/3.jpg" /></a></li>
			<li><a href="#" target="_blank"><img src="../static/images/4.jpg" /></a></li>
		</ul>
        <ul class="piclist swaplist"></ul>
	</div>
	<div class="og_prev"></div>
	<div class="og_next"></div>
</div>

<style type="text/css">
.footer p{font:normal 12px/2em '微软雅黑';text-align:center;}
</style>
</body>
</html>