<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Property</title>
    <script src="../static/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/message_box_style.css"/>
    <script src="../static/js/sign_in_sign_up.js"></script>
    <script src="../static/js/newproperty.js">
    </script>

</head>
<body>

<div id="Chatbot" style="z-index: 9999; position: fixed ! important; right: 4%; bottom: 5%;">
    <table width=""100% style="position: absolute; width:260px; right: 5%; top: 5%;">
        <a id="modal-673916" href="#modal-container-673916" role="button" class="btn" data-toggle="modal">
             <button type="button" class="btn btn-info" style="border-radius: 50%; height: 60px; width: 60px; opacity: 0.7">
                 <img src="../static/icon/robot.svg" style="height: 35px">
             </button>
         </a>

			<div class="modal fade" id="modal-container-673916" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="float: right">
				<div class="modal-dialog "  style="width: inherit; height: inherit; position: fixed ! important; right: 10%; bottom: 10%">
					<div class="modal-content chat-container" style="width: 490px">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel" style="color: white">
								ChatBot
							</h4>
						</div>
						<div class="modal-body" style="overflow:scroll; height:400px;">
						</div>
                        <div class="modal-footer">
                            <input type="text" class="text_input" placeholder="Message..."/>
                        </div>
					</div>

				</div>

			</div>
    </table>
</div>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/">
                        <img src="../static/icon/logo.svg" style="margin-top: -39px; margin-bottom: -19px; margin-left: 8px" height="70" width="70" /> Go World!</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul id="nav_sign_in_ul" class="nav navbar-nav navbar-right" style="margin-right: 1%;">
                        <li><a href="#modal-container-555326" id="nav_sign_up" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
                        <li><a href="#modal-container-555325" id="nav_sign_in" data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
                    </ul>
					<ul id="nav_name" class="nav navbar-nav navbar-right" style="margin-right: 1%; display: none">
						<li id="c_photo_li" style="margin-top: 2%">
							 <img alt="40x40" src="../static/Unknown.png" class="img-circle" height="40" width="40" />
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><font id="customer_name"></font><strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a id="personal_center_btn" href="Personalinfo.html">Personal Center</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a id="sign_out" href="/">Sign out</a>
								</li>
							</ul>
						</li>
					</ul>
                    <form class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> <button type="submit" class="btn btn-default">Search</button>
					</form>
				</div>

			</nav>
            <div class="row clearfix" id="headline">
                <div class="col-md-1 column">
                </div>
                <div class="col-md-10 column">
                    <div class="page-header">
                        <h1>
                            Share Your Room <small>Share your world</small>
                        </h1>
                    </div>
                </div>
                <div class="col-md-1 column">
                </div>
            </div>
            <div class="row clearfix" style="">
                <form class="form-horizontal" role="form" method="post" action="{{ url_for('post_property', id=id) }}" enctype="multipart/form-data" id="submit_form">
                    <div class="col-md-1 column"></div>
                    <div class="col-md-10 column">
                        <div class="form-group">
                            <label for="property_location" class="col-sm-2 control-label">City</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="property_location" required="required"/>
                            </div>
                            <label for="property_suburb" class="col-sm-2 control-label">Suburb</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="property_suburb" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="property_address" class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="property_address" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="property_size" class="col-sm-2 control-label">Size</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <span class="input-group-addon">m<sup>2</sup></span>
                                    <input type="number" class="form-control" name="property_size" min="1" required="required"/>
                                </div>
                            </div>
                            <label for="property_type" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-2">
                                <select name="property_type" style="width:100%; height: 34px">
                                    <option value="Apartment">Apartment</option>
                                    <option value="Unit">Unit</option>
                                    <option value="House">House</option>
                                    <option value="Townhouse">Townhouse</option>
                                    <option value="Rural">Rural</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="property_bedroom" class="col-sm-2 control-label">Bedroom</label>
                            <div class="col-sm-2">
                                <select name="property_bedroom" style="width:100%; height: 34px">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="property_bathroom" class="col-sm-2 control-label">Bathroom</label>
                            <div class="col-sm-2">
                                <select name="property_bathroom" style="width:100%; height: 34px">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="property_parking" class="col-sm-2 control-label">Parking</label>
                            <div class="col-sm-2">
                                <select name="property_parking" style="width:100%; height: 34px">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="property_max_people" class="col-sm-2 control-label">Max People</label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" name="property_max_people" min="1" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="WIFI" class="col-sm-2 control-label">WIFI</label>
                            <div class="col-sm-2">
                                <select name="WIFI" style="width:100%; height: 34px">
                                    <option value="YES">YES</option>
                                    <option value="NO">NO</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Air_condition" class="col-sm-2 control-label">Air-condition</label>
                            <div class="col-sm-2">
                                <select name="Air_condition" style="width:100%; height: 34px">
                                    <option value="YES">YES</option>
                                    <option value="NO">NO</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Cooking" class="col-sm-2 control-label">Cooking</label>
                            <div class="col-sm-2">
                                <select name="Cooking" style="width:100%; height: 34px">
                                    <option value="YES">YES</option>
                                    <option value="NO">NO</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Pet" class="col-sm-2 control-label">Pet</label>
                            <div class="col-sm-2">
                                <select name="Pet" style="width:100%; height: 34px">
                                    <option value="YES">YES</option>
                                    <option value="NO">NO</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="start_date" class="col-sm-2 control-label">Start Date</label>
                            <div class="col-sm-3">
                                <input type="date" class="form-control" name="start_date" id="start_date"/>
                            </div>
                            <label for="end_date" class="col-sm-2 control-label">End Date</label>
                            <div class="col-sm-3">
                                <input type="date" class="form-control" name="end_date" id="end_date"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="property_photos" class="col-sm-2 control-label">Upload Photos</label>
                            <div class="col-sm-3">
                                <input type="file" multiple name="upload" style=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="property_title" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" style="" name="property_title" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="property_description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea rows="10" cols="10" class="form-control" style="" name="property_description" form="submit_form" required="required"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="property_price" class="col-sm-2 control-label">Price</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <span class="input-group-addon">AU$</span>
                                    <input type="number" class="form-control" name="property_price" min="1" required="required"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">

                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-default" style="width: 40%" onclick="back_to_homepage()">Cancel</button>
                                <script>
                                    function back_to_homepage() {
                                        window.location.href = "http://127.0.0.1:5200/";
                                    }
                                </script>
                                <button type="submit" class="btn btn-primary btn-default" style="width: 40%">OK</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 column"></div>
                </form>
            </div>


		</div>
	</div>
</div>

<div class="" style="background-color: rgba(220, 220, 220, 0.2); height: 300px; margin-top: 5%; border-top-width: 1px; border-top-style:solid; border-top-color: #99cccc">
    <div class="container">
        <div class="row clearfix" style="margin-top: 4%">
            <div class="col-md-4 column" style="text-align: left; padding-left: 5%">
                <h4 style="color: #336699">About</h4>
                <a href="#">About us</a><br>
                <a href="#">Join us</a><br>
                <a href="#">Ad choices</a>
            </div>
            <div class="col-md-4 column" style="text-align: left; padding-left: 5%">
                <h4 style="color: #336699">Business</h4>
                <a href="#">Business Support</a><br>
                <a href="#">Become landlord</a>
            </div>
            <div class="col-md-4 column" style="text-align: left; padding-left: 5%">
                <h4 style="color: #336699">Developer</h4>
                <a href="#">Hao An</a><br>
                <a href="#">Chengzhu Xie</a><br>
                <a href="#">Jianyu Yi</a><br>
                <a href="#">Luyao Zhang</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>